In [1]:
import pandas as pd
df=pd.read_csv('Sales.csv', encoding="cp1252")
print(df.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel ship-service-level  Category Size Courier Status  \
0   Merchant     Amazon.in           Standard   T-shirt    S     On the Way
1   Merchant     Amazon.in           Standard     Shirt  3XL        Shipped
2     Amazon     Amazon.in          Expedited     Shirt   XL        Shipped
3   Merchant     Amazon.in           Standard   Blazzer    L     On the Way
4     Amazon     Amazon.in          Expedited  Trousers  3XL        Shipped

   ...  currency  Amount    ship-city   ship-state ship-postal-code  \
0  ...       INR  647.62       MUMBAI  MAHARASHTRA         400081.0
1  ...       INR  406.00    BENGALURU    KARNATAKA         560085.0
2  ...       INR  329.00  NAVI MUMBAI  MAHARASHTRA         410210.0
3  ...       INR  753.33   PUDUCHERRY   PUDUCHERRY         605008.0
4  ...       INR  574.00      CHENNAI   TAMIL NADU         600073.0

   ship-country    B2B  fulfilled-by New  PendingS
0            IN  False     Easy Ship NaN       NaN
1            IN  False     Easy Ship NaN       NaN
2            IN   True           NaN NaN       NaN
3            IN  False     Easy Ship NaN       NaN
4            IN  False           NaN NaN       NaN

[5 rows x 21 columns]

In [2]:
print(df.info())
row_count = df.shape[0]
print("Number of rows:", row_count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128976 non-null  int64
 1   Order ID            128976 non-null  object
 2   Date                128976 non-null  object
 3   Status              128976 non-null  object
 4   Fulfilment          128976 non-null  object
 5   Sales Channel       128976 non-null  object
 6   ship-service-level  128976 non-null  object
 7   Category            128976 non-null  object
 8   Size                128976 non-null  object
 9   Courier Status      128976 non-null  object
 10  Qty                 128976 non-null  int64
 11  currency            121176 non-null  object
 12  Amount              121176 non-null  float64
 13  ship-city           128941 non-null  object
 14  ship-state          128941 non-null  object
 15  ship-postal-code    128941 non-null  float64
 16  ship-country        128941 non-null  object
 17  B2B                 128976 non-null  bool
 18  fulfilled-by        39263 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.8+ MB
None
Number of rows: 128976

In [3]:
print(df.describe())

               index            Qty         Amount  ship-postal-code  New  \
count  128976.000000  128976.000000  121176.000000     128941.000000  0.0
mean    64486.130427       0.904401     648.562176     463945.677744  NaN
std     37232.897832       0.313368     281.185041     191458.488954  NaN
min         0.000000       0.000000       0.000000     110001.000000  NaN
25%     32242.750000       1.000000     449.000000     382421.000000  NaN
50%     64486.500000       1.000000     605.000000     500033.000000  NaN
75%     96730.250000       1.000000     788.000000     600024.000000  NaN
max    128974.000000      15.000000    5584.000000     989898.000000  NaN

       PendingS
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [4]:
missing_values=df.isnull().sum()
print("Missing values in the dataset:\n",missing_values)

Missing values in the dataset:
 index                      0
Order ID                   0
Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                7800
Amount                  7800
ship-city                 35
ship-state                35
ship-postal-code          35
ship-country              35
B2B                        0
fulfilled-by           89713
New                   128976
PendingS              128976
dtype: int64

In [5]:
duplicate_rows=df[df.duplicated()]
print("duplicate rows in the dataset:\n",duplicate_rows)

duplicate rows in the dataset:
       index             Order ID      Date                        Status  \
201       6  408-5748499-6859555  04-30-22                       Shipped
202       7  406-7807733-3785945  04-30-22  Shipped - Delivered to Buyer
203       8  407-5443024-5233168  04-30-22                     Cancelled
204       9  402-4393761-0311520  04-30-22                       Shipped
205      10  407-5633625-6970741  04-30-22                       Shipped
...     ...                  ...       ...                           ...
6640   6278  171-5170733-7855514  04-26-22  Shipped - Delivered to Buyer
6641   6279  403-8137343-5206760  04-26-22  Shipped - Delivered to Buyer
6642   6280  408-1575454-3263526  04-26-22  Shipped - Returned to Seller
6643   6281  171-2918708-7197155  04-26-22  Shipped - Delivered to Buyer
6644   6282  406-7244956-4740355  04-26-22                       Shipped

     Fulfilment Sales Channel ship-service-level  Category Size  \
201      Amazon     Amazon.in          Expedited   T-shirt    L
202    Merchant     Amazon.in           Standard     Shirt    S
203      Amazon     Amazon.in          Expedited   T-shirt  3XL
204      Amazon     Amazon.in          Expedited     Shirt  XXL
205      Amazon     Amazon.in          Expedited     Shirt    S
...         ...           ...                ...       ...  ...
6640   Merchant     Amazon.in           Standard   T-shirt   XS
6641   Merchant     Amazon.in           Standard   T-shirt   XS
6642   Merchant     Amazon.in           Standard   Blazzer    M
6643   Merchant     Amazon.in           Standard   Blazzer  XXL
6644     Amazon     Amazon.in          Expedited  Trousers   XL

     Courier Status  ...  currency Amount   ship-city   ship-state  \
201         Shipped  ...       INR  653.0  CHANDIGARH   CHANDIGARH
202         Shipped  ...       INR  399.0   HYDERABAD    TELANGANA
203       Cancelled  ...       NaN    NaN   HYDERABAD    TELANGANA
204         Shipped  ...       INR  363.0     Chennai   TAMIL NADU
205         Shipped  ...       INR  685.0     CHENNAI   TAMIL NADU
...             ...  ...       ...    ...         ...          ...
6640        Shipped  ...       INR  582.0   HYDERABAD    TELANGANA
6641        Shipped  ...       INR  801.0    KALPETTA       KERALA
6642        Shipped  ...       INR  690.0     CHENNAI   TAMIL NADU
6643        Shipped  ...       INR  658.0        PUNE  MAHARASHTRA
6644        Shipped  ...       INR  540.0      RAJKOT      Gujarat

     ship-postal-code  ship-country    B2B  fulfilled-by New  PendingS
201          160036.0            IN  False           NaN NaN       NaN
202          500032.0            IN  False     Easy Ship NaN       NaN
203          500008.0            IN  False           NaN NaN       NaN
204          600041.0            IN  False           NaN NaN       NaN
205          600073.0            IN  False           NaN NaN       NaN
...               ...           ...    ...           ...  ..       ...
6640         500083.0            IN  False     Easy Ship NaN       NaN
6641         673122.0            IN  False     Easy Ship NaN       NaN
6642         600049.0            IN  False     Easy Ship NaN       NaN
6643         412207.0            IN  False     Easy Ship NaN       NaN
6644         360001.0            IN  False           NaN NaN       NaN

[168 rows x 21 columns]

In [6]:
df.dropna(subset =['currency','Amount','ship-city','ship-state','ship-postal-code','ship-country'] ,inplace=True)

In [7]:
missing_values=df.isnull().sum()
print("Missing values in the dataset:\n",missing_values)

Missing values in the dataset:
 index                      0
Order ID                   0
Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                   0
Amount                     0
ship-city                  0
ship-state                 0
ship-postal-code           0
ship-country               0
B2B                        0
fulfilled-by           83629
New                   121143
PendingS              121143
dtype: int64

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 121143 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               121143 non-null  int64
 1   Order ID            121143 non-null  object
 2   Date                121143 non-null  object
 3   Status              121143 non-null  object
 4   Fulfilment          121143 non-null  object
 5   Sales Channel       121143 non-null  object
 6   ship-service-level  121143 non-null  object
 7   Category            121143 non-null  object
 8   Size                121143 non-null  object
 9   Courier Status      121143 non-null  object
 10  Qty                 121143 non-null  int64
 11  currency            121143 non-null  object
 12  Amount              121143 non-null  float64
 13  ship-city           121143 non-null  object
 14  ship-state          121143 non-null  object
 15  ship-postal-code    121143 non-null  float64
 16  ship-country        121143 non-null  object
 17  B2B                 121143 non-null  bool
 18  fulfilled-by        37514 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.5+ MB
None

In [9]:
df.drop(columns=['fulfilled-by','New','PendingS'], inplace=True)

In [10]:
print(df.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel ship-service-level  Category Size Courier Status  \
0   Merchant     Amazon.in           Standard   T-shirt    S     On the Way
1   Merchant     Amazon.in           Standard     Shirt  3XL        Shipped
2     Amazon     Amazon.in          Expedited     Shirt   XL        Shipped
3   Merchant     Amazon.in           Standard   Blazzer    L     On the Way
4     Amazon     Amazon.in          Expedited  Trousers  3XL        Shipped

   Qty currency  Amount    ship-city   ship-state  ship-postal-code  \
0    0      INR  647.62       MUMBAI  MAHARASHTRA          400081.0
1    1      INR  406.00    BENGALURU    KARNATAKA          560085.0
2    1      INR  329.00  NAVI MUMBAI  MAHARASHTRA          410210.0
3    0      INR  753.33   PUDUCHERRY   PUDUCHERRY          605008.0
4    1      INR  574.00      CHENNAI   TAMIL NADU          600073.0

  ship-country    B2B
0           IN  False
1           IN  False
2           IN   True
3           IN  False
4           IN  False

In [11]:
missing_values=df.isnull().sum()
print("Missing values in the dataset:\n",missing_values)

Missing values in the dataset:
 index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
dtype: int64

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 121143 entries, 0 to 128975
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               121143 non-null  int64
 1   Order ID            121143 non-null  object
 2   Date                121143 non-null  object
 3   Status              121143 non-null  object
 4   Fulfilment          121143 non-null  object
 5   Sales Channel       121143 non-null  object
 6   ship-service-level  121143 non-null  object
 7   Category            121143 non-null  object
 8   Size                121143 non-null  object
 9   Courier Status      121143 non-null  object
 10  Qty                 121143 non-null  int64
 11  currency            121143 non-null  object
 12  Amount              121143 non-null  float64
 13  ship-city           121143 non-null  object
 14  ship-state          121143 non-null  object
 15  ship-postal-code    121143 non-null  float64
 16  ship-country        121143 non-null  object
 17  B2B                 121143 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(13)
memory usage: 16.8+ MB
None

In [13]:
# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='mixed')

In [14]:
df.to_csv('data_cleaned_sales.csv')